apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: <AWS_ECR_URI>:<TAG> # GitHub Actions에서 자동으로 업데이트
        ports:
        - containerPort: 3000
